.faq_show
  .topbar
    .faq_label.account
    .faq_nav.pull_right
      = link_to "", artwork_faqs_path, class: "artwork"
      = link_to "", membership_faqs_path, class: "membership"
      = link_to "", payment_faqs_path, class: "payment"
      = link_to "", products_faqs_path, class: "products"
      = link_to "", order_faqs_path, class: "order"
      = link_to "", delivery_faqs_path, class: "delivery"

  %h1 account
  
  %table.content_row.account
    %tr
      %td
        %h3 How do I create an Online Account?
        %p You will be provided an Online Account automatically when you become a SMART PRINT member. Only 1 online account per membership allowed.
        
        %h3 How long will SP takes to reload my account?
        %p For online Interbank Fund Transfer, we will reload your account once we receive the bank verification of your credited funds to 3S DIGITAL SERVIS SDN BHD. shown on the printout deposit slip that you fax or upload the transaction slip for us. For cash or cheque deposit, your account will normally be reloaded within the very same day of payment once we receive the bank in slip from you.
        
        %h3 How secure is my account?
        %p Your online transactions are done via a protected SMART PRINT server. We routinely check and update our security perimeters to ensure all information and data stored on our server is not compromised.
        
      %td
        %h3 How do I terminate my Membership Account? If there is a balance in my account, is it refundable upon termination of my membership?
        %p Just send us an email saying that you would like to terminate your Account. Any balance in your Account (minus rebates given) is refundable. Please include your bank details in the email so we can transfer the amount to your bank account. The transfer process will take 7-10 working days.
        
        %h3 What happens if my account is inactive for a period of time?
        %p Your account will still be open and any remaining cash advance in it will be available for your use. However, if you anticipate that you will no longer use this account, we would advice you to close it and withdraw the balance of your cash advance.
        
      %td
        %h3 Why do I get an error whenever I try to login?
        %p Either your username or password or both are incorrect. You will have to reset your password or retrieve your username: Click on the "Forgot your password" link and key-in the information according to the instructions. We will send you an email with a link which you will need to click on it to reset your password.