.faq_show
  .topbar
    .faq_label.artwork
    .faq_nav.pull_right
      = link_to "", membership_faqs_path, class: "membership"
      = link_to "", payment_faqs_path, class: "payment"
      = link_to "", products_faqs_path, class: "products"
      = link_to "", order_faqs_path, class: "order"
      = link_to "", delivery_faqs_path, class: "delivery"
      = link_to "", account_faqs_path, class: "account"
      
  %h1 Artwork
  
  %table.content_row.artwork
    %tr
      %td
        %h3 Do you offer artwork design services?
        %p Yes, but not via online. Please refer to CUSTOM SERVICE or contact us for further informations. If you already have your own design, just upload the files at our website and we will proceed the printing for you.
        
        %h3 Do you provide artwork proof checking services?
        %p No. You have to confirm the final artwork with your customer before sending it to us for printing.
        
        %h3 What file format should I use to save my artwork?
        %p You can save in Adobe PDF, AI, PSD and EPS format. Click VIEW MORE in every product's page to know more about the artwork format.
        
        %h3 What will happen to my order if my artwork does not meet SMART PRINT artwork specifications?
        %p You will receive a "Pending" notice in MY ORDERS which means your order is put on hold. You are required to upload the correct artwork again. (Note: We will notify you within 2 hours if there is any problem pertaining to your artwork.)
        
      %td
        %h3 How do I send my artwork?
        %p For artwork files below 200MB, click on the BROWSE button to upload your file to our server. Anything that exceeds 200MB must either couriered or pass to us by CD. (Note: We will notify you when your CD reaches to us, or if there is any problem pertaining to your artwork.)
        
        %h3 Can I change or cancel my design after submitting it?
        %p Yes, you can change and cancel the design after submitting your artwork by clicking cancel in MY ORDERS list, ONLY IF your order is not yet in the printing process.
        
        %h3 Can I design my artwork in other sizes?
        %p Yes, but you need to check on the size availablility for print and also the product availability. Please follow our product sizes. These are the sizes that we highly recommend that serve majority needs.
        
        %h3 Can I use SMART PRINT to print anything I want?
        %p Yes you can, as long as what your printing does not conflict with the Malaysian printing and publication law. SMART PRINT will not be responsible for any infringement of artwork content.
        
      %td
        %h3 Will the colour of my printed product match 100% to the original colour of my artwork?
        %p No. It is a know fact within the printing industry that 100% process colour accuracy is not presently possible with the current print technology. Therefore, even if a printing company were to employ highly experienced personnel including the latest press technology, the outcome of colour of the printed product will always differ from the original artwork.
        
        %h3 What are the factors that may cause colour deviation?
        %ol
          %li Paper Stock - The quality of paper, its surface and brightness can affect exact outcome of printing colours.
          %li Humidity Levels - Damp weather can cause saturation of ink colours.
          %li Make of Press Machines - Different press machines produce different colour results.
          %li Monitor Displays and Colour Settings - Unmatching calibration of monitor colour or colour settings (RGB, CMYK) can misrepresent final colour of output.
        