.faq_show
  .topbar
    .faq_label.delivery
    .faq_nav.pull_right
      = link_to "", artwork_faqs_path, class: "artwork"
      = link_to "", membership_faqs_path, class: "membership"
      = link_to "", payment_faqs_path, class: "payment"
      = link_to "", products_faqs_path, class: "products"
      = link_to "", order_faqs_path, class: "order"
      = link_to "", account_faqs_path, class: "account"
      
  %h1 delivery
  
  %table.content_row.delivery
    %tr
      %td
        %h3 Will I have to pay for the delivery of my goods?
        %p Yes. For items below 10kg, the price will be RM 12. For items more than 10kg, the price will be added RM 2 / kg. We will deliver the completed goods to your address you stated during ordering.
        
        %h3 How will my goods be delivered?
        %p All goods are delivered by our appointed courier. SP only works with reliable courier service providers that have good track records.
        
        %h3 What time can I expect delivery?
        %p While we strive to send your completed order out on time, the exact time of its arrival to your doorstep will depend on the courier service company. Although the courier service company we have engaged delivers to most places, some areas require longer delivery time due to inconsistent demand and sometimes lack of road infrastructure. Please contact us to know your delivery status.
        
        %h3 Can you send the orders to my customers?
        %p Yes. Please contact our Customer Service.
        
      %td
        %h3 Do you provide rushed delivery?
        %p For all items that need to delivered by our appointed courier company, you need to wait at least 1 working day to receive your goods.
        
        %h3 Which areas do your delivery service cover?
        %p Our appointed courier service provider delivers to all states in Malaysia. However, some areas require longer delivery time due to inconsistent demand and sometimes lack of road infrastructure.
        
        %h3 Can I collect my orders personally from your office?
        %p Yes, you can. Just click NO at the delivery column before you place order or arrange with our Customer Service.
        
        %h3 What should I do if I don't receive my orders on time or if there's a mix up in my order?
        %p Email to <a href="mailto:smartprint@live.com">smartprint@live.com</a> or call +603 5885 0203. Provide us your order reference number and tell us the problem. We'll try to sort it out as soon as possible.
        
      %td
        %h3 Does SMART PRINT guarantee punctual delivery of my goods?
        %p While we are committed to the timely delivery of goods to all our members, we cannot guarantee you 100% punctuality due to factors such as Acts of God, national emergencies and the efficiency of the courier service company. Also, some areas require longer delivery time due to inconsistent demand and sometimes lack of road infrastructure. Here are some reasons that can cause delay:<br/>1. Your courier service outlet in your area is inconsistent<br/>2. Delivery day falls on Saturday<br/>The courier service outlet in your zone is closed for a public holiday<br/>4. Production delay due to re-print
        
        %h3 How do I change my default Delivery Address?
        %p Please contact us and send us the new address. We will update for you. Please make sure that the address is updated before you place order.