.faq_show
  .topbar
    .faq_label.membership
    .faq_nav.pull_right
      = link_to "", artwork_faqs_path, class: "artwork"
      = link_to "", payment_faqs_path, class: "payment"
      = link_to "", products_faqs_path, class: "products"
      = link_to "", order_faqs_path, class: "order"
      = link_to "", delivery_faqs_path, class: "delivery"
      = link_to "", account_faqs_path, class: "account"
      
  %h1 membership
  
  %table.content_row.membership
    %tr
      %td
        %h3 Who can be an SMART PRINT member?
        %p Anyone residing in Malaysia who is 18 years old and above is eligible for Membership. However, approval of membership is subject to the discretion of the management of SMART PRINT. Employees of SMART PRINT, their affiliates, subsidiaries, advertising and promotional agencies, and suppliers are not eligible.
        
        %h3 Why become SMART PRINT member?
        %p Being SP member allows you to sell our products and services to your customers at a more competitive price. You can enjoy a higher profit margin and definitely a more lucrative direct income through our Agent pricing.
        
        %h3 How do I become an EXCARD member?
        %p Step 1: Click LOG IN at our website or visit us at our sales office.<br />Step 2: Fill-up the registration form.<br/>Make sure all info entered is accurate as this will be used for all communication and transactions.<br/>Step 3: Receive notification.<br/>We will notify you by email that your account has been activated.
        
      %td
        %h3 How will I know if I qualify for Membership or if my membership is approved?
        %p SP's online printing service is exclusively for design and print professionals. Hence, the registration process will require you to take a verification test or provide proof of your related field. You will know whether you qualify immediately after taking the test. For those who choose to provide proof will be informed by email or phone whether they qualify or not. We will inform all qualified applicants to make payment (registration fee & cash advance) if required, via email or phone.
        
        %h3 Do I need to pay registration fee to become a member?
        %p No. You do not need to pay any fee to become our member. You just need to fill in a registration form.
        
        %h3 How much profit can I make?
        %p As our member, you are guaranteed a lower member pricing for every product you sell. This means a higher profit margin to you.
        
        %h3 Can I get professional catalog of SP products?
        %p Yes. You have to pay RM50 to get our professional catalog which include all product specs.
        
      %td
        %h3 What if I want to show my customers about SP products specifications without get your catalog?
        %p You can download our product specs by clicking VIEW MORE and print it out to show your customers.
        
        %h3 How do I set my own selling price for the products?
        %p Once you become our member, you can see the prices for all our products. With this price, you are free to set your own competitive price. We encourage you to check out the market price in your area before you decide on your final price to your customers. To help those who are not members yet, we welcome them to get our free sample. Within, they will find more information on product pricing, recommended selling price as well as other EXCARD benefits. Also included are actual printed samples for them to get a better feel of our products.
        
        %h3 Will SMART PRINT ensure the confidentiality of my customers' data?
        %p Yes. All information sent to SP is kept with the strictest of confidentiality. Moreover, we only offer our services to design-print professionals, and not end-users.