.faq_show
  .topbar
    .faq_label.order
    .faq_nav.pull_right
      = link_to "", root_path, class: "artwork"
      = link_to "", root_path, class: "membership"
      = link_to "", root_path, class: "payment"
      = link_to "", root_path, class: "products"
      = link_to "", root_path, class: "order"
      = link_to "", root_path, class: "delivery"
      = link_to "", root_path, class: "account"
  %h1 order
  %table.content_row.order
    %tr
      %td
        %h3 How do I place my order?
        %p All orders can only be made through our website but you have to be a member to do this. Click PRODUCTS link, select product and fill in your print order specifications. Upload printing file if you have. Last, click PLACE ORDER to proceed. Your order will be sent to SP. If your submission is successful, a receipt will be generated and you can print this page out as your reference.
        
        %h3 How long will I have to wait for my goods to arrive?
        %p Each product has a different delivery duration. You may view the DURATION for every product before you place order. To check the delivery duration after make order, you can go to MY ORDERS or contact us to ask for the status. You can choose either own collect or enjoy our delivery service. You need to wait 1 more day to receive your goods if you choose delivery.
        
        %h3 How can I keep track of my orders and my account balance?
        %p Log in to your member Online Account panel to check your order history at MY ORDER.
        
      %td
        %h3 What do I do if I am dissatisfied with my order?
        %p If you are not satisfied with your printed goods, please return the items to us within 1 week (7 days) of receiving your order. Please include your order number and reason for dissatisfaction. If you have not received your order within the specified delivery time, please contact us not later than 1 week (7 days) from the date of the specified delivery time. Our Customer Service department will review your request and work with you to meet your expectations. PLEASE NOTE: We will only reprint or refund the cost of any product that fails to meet the conditions under the General Expectation on Printing Outcome (Terms & Conditions, point #5). However, we are not responsible for typing, image, or design errors introduced by customers in the artwork/document creation process. In an effort to keep costs down and pass those savings along to our customers, SMART PRINT does not review artwork/documents for content or spelling.
        
      %td
        %h3 Can I cancel or change my order?
        %p If you have detected an error only after submitting your order to us, (ONLY IF your order is not yet in the printing process), you can click CANCEL at the MY ORDER list or contact us immediately, so that we can put your job on hold until you make the necessary amendments. In such a case, please note that there will be a delay in the completion and delivery or your goods. SMART PRINT will not be held responsible for any matter resulting from a member's failure to contact SP promptly or to convey the necessary instructions regarding his/her orders.
        
        %h3 What should I do if I have a Pending Job?
        %p Contact us to know about the reason of pending. You will then have to cancel the order and PLACE ORDER again.
      