.faq_show
  .topbar
    .faq_label.payment
    .faq_nav.pull_right
      = link_to "", root_path, class: "artwork"
      = link_to "", root_path, class: "membership"
      = link_to "", root_path, class: "payment"
      = link_to "", root_path, class: "products"
      = link_to "", root_path, class: "order"
      = link_to "", root_path, class: "delivery"
      = link_to "", root_path, class: "account"
  %h1 payment
  %table.content_row.payment
    %tr
      %td
        %h3 How do I pay for my order?
        %p SP uses a prepaid system whereby you need to deposit funds into your SP account as your cash advance. Each time you make an order, payment for it will be deducted from the cash advance in your account. You must have sufficient funds in your account to pay for your order. You may top-up/reload your account anytime.
        
        %h3 How do I make payment / top-up cash advance?
        %p For Cash Deposit, 3rd Party Funds Transfer or cheque, please bank in or make cheque payable to:
        %p #S DIGITAL SERVIS SDN. BHD.<br/>Hong Leong Bank, account number 20200015912
        
        %h3 How do I inform SP that I already top up my account?
        %p You can email the bank in slip to <a href="mailto:smartprint@live.com">smartprint@live.com</a> or fax to us at +603 5885 0206. Your account balance will be updated after we receive your bank in slip.
        
        %h3 How do I report a billing error to SMART PRINT?
        %p Just send us an email or call us to report the error. Describe the problem to us and we will get back to you as soon as possible.
        
      %td
        %h3 Will I get an official receipt for my order? And how will I get it?
        %p You will be issued an electronic official receipt for every order you make. To view or print out an official receipt for a particualr completed order, you will need to log in to your account and go to MY ACCOUNT.
        
        %h3 What is the purpose of cash advance?
        %p Cash Advance serves as advance payment for your future orders. Each time you make an order, payment for it will be deducted from the cash advance in your account. You cannot make an order if you do not have enough funds in your account, so make sure there are sufficient funds in your MY ACCOUNT at all times. You can reload your account whenever necessary.
        
      %td