.faq_show
  .topbar
    .faq_label.products
    .faq_nav.pull_right
      = link_to "", artwork_faqs_path, class: "artwork"
      = link_to "", membership_faqs_path, class: "membership"
      = link_to "", payment_faqs_path, class: "payment"
      = link_to "", order_faqs_path, class: "order"
      = link_to "", delivery_faqs_path, class: "delivery"
      = link_to "", account_faqs_path, class: "account"
      
  %h1 products
  
  %table.content_row.products
    %tr
      %td
        %h3 What type of printing do you provide?
        %p We provide high quality inkjet printing.
        
        %h3 What are your key products?
        %p We specialize in indoor display system. Our products can display great and durable at indoor.
        
        %h3 Can I request for a different finishing or printing process for my orders?
        %p No. You have to keep to our printing specifications for our standard SMART PRINT products. This is to ensure the quality consistency of our products and to keep your cost down. For special print requests, you have to request it for a special quotation.
        
        %h3 What are the standard specification of your products?
        %p Please log in to your account and refer to PRODUCTS page.
        
        %h3 How do you pack the completed goods?
        %p Most completed goods are securely packed in paper cartons labelled with content information such as customer's name and delivery address, product type, quantity and handling instructions.
        
      %td
        %h3 How much do SP products cost (where are the prices)?
        %p Our prices are only available to SP members who are also privy to other cost-saving member-only benefits. Upon a successful register, members gain access to this price list. Those who have yet to sign up can contact us to get the informations.
        
      %td