%header.clearfix
  #header_topbar
    .center_wrapper
      #logo_link
      #session_corner.pull_right
        %table.form_cage
          %tr
            %td
              .label_col Username:
            %td
              .field_col
                %input.textbox{type: "text"}
          %tr
            %td
              .label_col Password:
            %td
              .field_col
                %input.textbox{type: "password"}
          %tr
            %td
            %td
              .field_col
                = link_to "Forgot password?", root_path, class: "hints"
          %tr
            %td{colspan: "2"}
              .pull_right
                %input.session_link{type: "submit", value: "Login"}
          %tr
            %td{colspan: "2"}
              .pull_right
                = link_to "Register", root_path, class: "session_link"
  
      .clearfix
  .clearfix
  #header_bottombar.non_login
    #main_nav.center_wrapper
      = link_to "About us", root_path
      = link_to "products", products_path
      = link_to "custom service", root_path
      = link_to "digital print", root_path
      = link_to "how we work", root_path
      = link_to "faq", root_path
      - if request.fullpath == contact_us_infos_path
        = link_to "contact us", contact_us_infos_path, class: "current"
      - else
        = link_to "contact us", contact_us_infos_path
      = link_to "news & promos", root_path
      .clearfix