.order_nav
  = link_to "", popup_system_user_products_path, class: "popup"
  - if request.fullpath == round_stand_user_products_path
    = link_to "", round_stand_user_products_path, class: "round_stand current"
  - else
    = link_to "", round_stand_user_products_path, class: "round_stand"
  
  - if request.fullpath == tripod_stand_user_products_path
    = link_to "", tripod_stand_user_products_path, class: "tripod_stand current"
  - else
    = link_to "", tripod_stand_user_products_path, class: "tripod_stand"

  - if request.fullpath == rollup_stand_user_products_path
    = link_to "", rollup_stand_user_products_path, class: "rollup_stand current"
  - else
    = link_to "", rollup_stand_user_products_path, class: "rollup_stand"
  
  - if request.fullpath == x_stand_user_products_path
    = link_to "", x_stand_user_products_path, class: "x_stand current"
  - else
    = link_to "", x_stand_user_products_path, class: "x_stand"
  
  - if request.fullpath == poster_user_products_path
    = link_to "", poster_user_products_path, class: "poster current"
  - else
    = link_to "", poster_user_products_path, class: "poster"
  
  - if request.fullpath == poster_stand_user_products_path
    = link_to "", poster_stand_user_products_path, class: "poster_stand current"
  - else
    = link_to "", poster_stand_user_products_path, class: "poster_stand"
  
  - if request.fullpath == kiosk_user_products_path
    = link_to "", kiosk_user_products_path, class: "kiosk current"
  - else
    = link_to "", kiosk_user_products_path, class: "kiosk"
  
  - if request.fullpath == banner_user_products_path
    = link_to "", banner_user_products_path, class: "banner current"
  - else
    = link_to "", banner_user_products_path, class: "banner"
  
  - if request.fullpath == bunting_user_products_path
    = link_to "", bunting_user_products_path, class: "bunting current"
  - else
    = link_to "", bunting_user_products_path, class: "bunting"
  
  - if request.fullpath == canvas_user_products_path
    = link_to "", canvas_user_products_path, class: "canvas current"
  - else
    = link_to "", canvas_user_products_path, class: "canvas"
