.order_nav
  = link_to "", popup_system_user_products_path, class: "popup"
  - if request.fullpath == round_stand_user_products_path
    = link_to "", round_stand_user_products_path, class: "round_stand current"
  - else
    = link_to "", round_stand_user_products_path, class: "round_stand"
  = link_to "", popup_system_user_products_path, class: "tripod_stand"
  - if request.fullpath == rollup_stand_user_products_path
    = link_to "", rollup_stand_user_products_path, class: "rollup_stand current"
  - else
    = link_to "", rollup_stand_user_products_path, class: "rollup_stand"
  = link_to "", popup_system_user_products_path, class: "x_stand"
  
  - if request.fullpath == poster_user_products_path
    = link_to "", poster_user_products_path, class: "poster current"
  - else
    = link_to "", poster_user_products_path, class: "poster"
    
  = link_to "", popup_system_user_products_path, class: "poster_stand"
  = link_to "", popup_system_user_products_path, class: "kiosk"
  = link_to "", popup_system_user_products_path, class: "banner"
  = link_to "", popup_system_user_products_path, class: "bunting"
  = link_to "", popup_system_user_products_path, class: "canvas"