.order_nav
  = link_to "", popup_system_user_products_path, class: "popup"
  = link_to "", popup_system_user_products_path, class: "round_stand"
  = link_to "", popup_system_user_products_path, class: "tripod_stand"
  = link_to "", popup_system_user_products_path, class: "rollup_stand current"
  = link_to "", popup_system_user_products_path, class: "x_stand"
  = link_to "", popup_system_user_products_path, class: "poster"
  = link_to "", popup_system_user_products_path, class: "poster_stand"
  = link_to "", popup_system_user_products_path, class: "kiosk"
  = link_to "", popup_system_user_products_path, class: "banner"
  = link_to "", popup_system_user_products_path, class: "bunting"
  = link_to "", popup_system_user_products_path, class: "canvas"