.products_index
  = link_to "", popup_system_products_path, class: "product_link first_row popup"
  = link_to "", root_path, class: "product_link first_row round_stand"
  = link_to "", root_path, class: "product_link first_row tripod_stand"
  = link_to "", root_path, class: "product_link first_row rollup_stand"
  = link_to "", root_path, class: "product_link first_row x_stand"
  = link_to "", root_path, class: "product_link second_row poster"
  = link_to "", root_path, class: "product_link second_row poster_stand"
  = link_to "", root_path, class: "product_link second_row kiosk"
  = link_to "", root_path, class: "product_link second_row banner"
  = link_to "", root_path, class: "product_link second_row bunting"
  = link_to "", root_path, class: "product_link second_row canvas"