.faq_index
  = link_to "", root_path, class: "artwork"
  = link_to "", root_path, class: "membership"
  = link_to "", root_path, class: "payment"
  = link_to "", root_path, class: "products"
  = link_to "", root_path, class: "order"
  = link_to "", root_path, class: "delivery"
  = link_to "", root_path, class: "account"